body,
div,
ul,
li {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body {
    background: #000;
    text-align: center;
    /*font: 12px/20px Arial;*/
}
#box {
    position: relative;
    width: 500px;
    height: 500px;
    background: #fff;
    border-radius: 5px;
    border: 8px solid #fff;
    margin: 10px auto;
}
#box .list {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border: 1px solid #ccc;
}
#box .list li {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);/*兼容IE浏览器*/
}
#box .list li.current {
    opacity: 1;
    filter: alpha(opacity=100);/*兼容IE浏览器*/
}
#box .count {
    position: absolute;
    left: 210px;
    bottom: 10px;
}
#box .count li {
    float: left;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin-right: 5px;
    color: #fff;
    overflow: hidden;
    background: #fff;
    opacity: 0.7;
    filter: alpha(opacity=70);/*兼容IE浏览器*/
    border-radius: 10px;
}
#box .count li.current {
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);/*兼容IE浏览器*/
    /*font-weight: 700;*/
    background: #000;
}
#box .bar {
    position: absolute;
    cursor: pointer;
    display: none;
    top: 226px;
    width: 500px;
    height: 48px;
    filter: alpha(opacity=50);
}
#box .bar li {
    width: 48px;
    height: 48px;
    opacity: 0.2;
    background-color: #ccc;
}
#box .bar .float-left {
    float: left;
}
#box .bar .float-right {
    float: right;
}