* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

html,
body {
  font-family: "Arial";
  font-size: 10px;
}
/* 伪类定义变量 减少页面重复代码*/

:root {
  --color-red: #ff4b5a;
  --color-green: #1fab5a;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
/* 兼容 IE 6 7*/
.clearfix {
  zoom: 1;
}
/* 引入字体 */

@font-face {
  font-family: Yellowtail;
  src: url(../font/Yellowtail-Regular.otf);
}
/* 头部 header */

.header {
  padding-top: 2.5em;
  background-color: #323944;
  color: #fff;
}
/* 导航栏 */
.header-nav-left {
  float: left;
  font-size: 2.875em;
  font-family: "Yellowtail";
}

.header-nav-right {
  float: right;
  font-size: 1.125em;
}
.header-nav-right ul {
  padding: 1.1em 0;
}

.header-nav-right ul li {
  display: inline-block;
  margin-right: 0.88em;
}
.header-nav-right ul a {
  display: block;
  padding: 0.55em 0.78em;
  border-radius: 1.39em;
  transition: all 0.5s;
}
.header-nav-right ul a.active {
  background-color: #ff4b5a;
}
.header-nav-right ul a:hover {
  background-color: var(--color-red);
  background-color: #ff4b5a;
}


/* 轮播图 banner*/

.header .header-banner {
  position: relative;
  padding: 10% 0;
  text-align: center;
}

.header-banner .prev {
  float: left;
  position: absolute;
  top: 50%;
  left: -1.8em;
  cursor: pointer;
}

.header-banner .next {
  float: right;
  position: absolute;
  top: 50%;
  right: -1.8em;
  cursor: pointer;
}

.header .slider-lists {}

.header .slider-item {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -419px;
  margin-top: -251px;
  opacity: 0;
  filter: alpha(opacity=0);
  /*兼容IE浏览器*/
}

.header .slider-item.current {
  display: block;
  opacity: 1;
  filter: alpha(opacity=100);
  /*兼容IE浏览器*/
}

.header .slider {
  display: inline-block;
}

.slider .slider-img {
  float: left;
}

.slider-img img {
  width: 15em;
  height: 33em;
}


/* wrap */

.wrap {
  width: 80%;
  margin: 0 auto;
}

.wrap p.title {
  font-size: 1.75em;
  color: #444e5d;
}

.slider .slider-text {
  float: right;
  margin-left: 7.8em;
  text-align: left;
}

.slider-text p {}

.slider-text p.big-text {
  color: #fff;
}

.slider-text .first-p {
  margin: 2.785em 0 0.75em 0;
}

.slider-text ul {
  margin: 3.312em 0;
}

.slider-text ul li {
  margin-bottom: 1.687em;
}

.slider-text ul.text-item li:before {
  margin-right: 12px;
  content: "\02022";
  color: red;
}

.header-banner .slider-count {
  position: absolute;
  left: 50%;
  bottom: 25px;
}

.slider-count ul li {
  display: inline-block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin-right: 5px;
  color: #fff;
  overflow: hidden;
  background: #fff;
  opacity: 0.7;
  filter: alpha(opacity=70);
  border-radius: 10px;
}

.slider-count ul li.active {
  background-color: #000;
  opacity: 1;
  filter: alpha(opacity=100);
}


/* page-show */

.page-show {}

.page-show p,
.page-show span {
  font-size: 1.233em;
  color: #4d5866;
}

.page-show p.desc {
  margin: 1em 0;
  line-height: 1.5em;
}

.page-show .page-show-top {
  padding: 13% 0 10% 0;
  background-color: #f2f2f2;
}

.page-show-top a.more-btn {
  padding: 0.54em 0.92em;
  border-radius: 4px;
  font-size: 1.09em;
  text-align: center;
}

.page-show-top p.title {
  margin-bottom: 1.1em;
}


/* pc-page */

.page-show-top .pc-page {}

.pc-page a.more-btn {
  background-color: var(--color-red);
  background-color: #ff4b5a;
}

.pc-page .pc-page-left {}

.pc-page .pc-page-right {}

.pc-page-right p.color-red {
  color: var(--color-red);
  color: #ff4b5a;
}


/* video-page */

.page-show-top .video-page {
  margin-top: 13em;
}

.video-page a.more-btn {
  background-color: var(--color-green);
  background-color: #1fab5a;
}

.video-page .video-page-left {}

.video-page-left p.color-green {
  color: var(--color-green);
  color: #1fab5a;
}

.video-page .video-page-right {}


/* quote-page */

.page-show .quote-page {}

.quote-page .quote-page-top {
  height: 4.666em;
  background-color: #38404a;
}

.quote-page .quote-page-bottom {
  padding-bottom: 6.133em;
  text-align: center;
  background-color: #323a45;
}

.quote-page-bottom h1 {
  font-size: 12.83em;
  height: 0.68em;
  color: #5d718c;
}

.quote-page-bottom .quote-desc {}

.quote-desc p {
  font-size: 2.158em;
  color: #fff;
}

.quote-desc .quote-author {
  margin-top: 4em;
}

.quote-author .quote-author-avatar,
.quote-author .quote-author-name {
  display: inline-block;
  vertical-align: middle;
}

.quote-author-avatar img {
  width: 8.333em;
  height: 8.333em;
  border-radius: 50%;
}

.quote-author .quote-author-name {
  margin-left: 2.266em;
}

.quote-author-name p.name {
  font-size: 2.063em;
  color: #fff;
}

.quote-author-name p.job {
  font-size: 1.589em;
  color: #c7c1c1;
}

.page-show .mobile-page {
  color: red;
}


/* commin a*/

a.common {
  margin-top: 1.6em;
  padding: 1.06em 1.733em;
  border-radius: 5px;
  font-size: 1.422em;
  text-align: center;
  background-color: var(--color-green);
  background-color: #1fab5a;
}


/* mobile-page */

.page-show .mobile-page {
  padding: 6.533em 0;
  background-color: #f2f2f2;
}

.mobile-page p {
  color: #5c6877;
}

.mobile-page .mobile-page-left {}

.mobile-page-left .wedo {}

.mobile-page-left .lists {
  margin-top: 2em;
  padding: 3.2em 0;
  border-top: 1px solid #c7c7c7;
}

.lists ul li {
  height: 2.5em;
}

.lists i {
  margin-right: 1em;
  color: var(--color-green);
  color: #1fab5a;
}

.mobile-page-left .download {}

.mobile-page .mobile-page-right {
  margin-right: 2em;
}


/*our*/


/* our-clients*/

.our p.under-title {
  margin-bottom: 1em;
  font-size: 1.422em;
  color: #6d7989;
}

.our-clients {
  padding: 2.933em 0;
  text-align: center;
  background-color: #faf8f8;
}

.our-clients .our-clients-top {}

.our-clients .our-clients-bottom {
  padding: 7em 0;
}

.our-clients-bottom ul li {
  display: inline-block;
  margin-right: 3.5%;
}

.our-clients-bottom ul li img,
.our-clients-bottom ul li span {
  vertical-align: middle;
}

.our-clients-bottom ul li span {
  color: #1a1a1a;
}


/* price-table */

.price-table {
  padding: 7.8em 0;
  background-color: #f1f1f1;
  text-align: center;
}

.price-table .price-table-top {}

.price-table .price-table-bottom {
  margin-top: 5.8em;
}

.price-table-bottom ul li {
  display: inline-block;
  margin: 0 1em;
  /*margin: 0 1em;*/
}

.price-table-bottom .item {
  border: 1px solid #a6a6a6;
  color: #999;
}

.item .item-top {
  border-bottom: 1px solid #a6a6a6;
}

.item-top p {
  margin-bottom: 0.27em;
  font-size: 1.4em;
}

.item-top p.title {
  margin: 0.4375em 0;
}

.item .item-bottom {
  padding: 4.1em 0 3.2em 0;
  border-top: 1px solid #ccc;
}

.item-bottom p {
  font-size: 1.46em;
  line-height: 1.8em;
}

.item-bottom a.common {
  margin: 4em 2em 0 2em;
  padding: 1em 2em;
}


/* 1155 - 1440 正常显示 
 * 1155 以下 图片太大 导致换行
 *
 * 适配问题 调整图片大小即可
 *
 * 768以下为手机端 其他自适应
 * 每个阶段设置 body 的 font-size 就可解决
 * 移动优先
*/

.our .our-works {
  padding: 3.4em 0 7.7em 0;
  text-align: center;
}

.our-works .our-works-top {
  padding: 0 5.2em;
  margin-bottom: 2.3em;
}

.our-works-top .icon {
  border-bottom: 1px solid #b7b7b7;
  padding-bottom: 2.7em;
  text-align: right;
}

.icon .fa-angle-left {
  margin-right: 1em;
}
/* 弹出-向左 */
@-webkit-keyframes bounceoutL{
    0%{-webkit-transform:translateX(0);}
    20%{opacity:1;-webkit-transform:translateX(20px);}
    100%{opacity:0;-webkit-transform:translateX(-100px);}
}
@-moz-keyframes bounceoutL{
    0%{-moz-transform:translateX(0);}
    20%{opacity:1;-moz-transform:translateX(20px);}
    100%{opacity:0;-moz-transform:translateX(-100px);}
}
@-ms-keyframes bounceoutL{
    0%{-ms-transform:translateX(0);}
    20%{opacity:1;-ms-transform:translateX(20px);}
    100%{opacity:0;-ms-transform:translateX(-100px);}
}
@keyframes bounceoutL{
    0%{transform:translateX(0);}
    20%{opacity:1;transform:translateX(20px);}
    100%{opacity:0;transform:translateX(-200px);}
}
/* 弹入-从左 */
@-webkit-keyframes bounceinL{
    0%{opacity:0;-webkit-transform:translateX(-100px);}
    60%{opacity:1;-webkit-transform:translateX(30px);}
    80%{-webkit-transform:translateX(-10px);}
    100%{-webkit-transform:translateX(0);}
}
@-moz-keyframes bounceinL{
    0%{opacity:0;-moz-transform:translateX(-100px);}
    60%{opacity:1;-moz-transform:translateX(30px);}
    80%{-moz-transform:translateX(-10px);}
    100%{-moz-transform:translateX(0);}
}
@-ms-keyframes bounceinL{
    0%{opacity:0;-ms-transform:translateX(-100px);}
    60%{opacity:1;-ms-transform:translateX(30px);}
    80%{-ms-transform:translateX(-10px);}
    100%{-ms-transform:translateX(0);}
}
@keyframes bounceinL{
    0%{opacity:0;transform:translateX(-100px);}
    60%{opacity:1;transform:translateX(30px);}
    80%{transform:translateX(-10px);}
    100%{transform:translateX(0);}
}
.our-works .our-works-top .icon i{
  cursor: pointer;
}
.our-works .our-works-top .icon i.active{
  color: var(--color-red);
  color: #ff4b5a;
}
.our-works .photos {
  position: relative;
}
.our-works .photos ul{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  
}
.our-works .photos ul.current {
  display: block;
}
.our-works .photos ul.out {
  -webkit-animation:bounceoutL 1s linear 0ms  normal forwards;
    -moz-animation:bounceoutL 1s linear 0ms  normal forwards;
    -o-animation:bounceoutL 1s linear 0ms  normal forwards;
    animation:bounceoutL 1s linear 0ms  normal forwards;
}
.our-works .photos ul.in {
  -webkit-animation:bounceinL 1s linear 0ms  normal forwards;
    -moz-animation:bounceinL 1s linear 0ms  normal forwards;
    -o-animation:bounceinL 1s linear 0ms  normal forwards;
    animation:bounceinL 1s linear 0ms  normal forwards;
}
.photos ul li {
  display: inline-block;
  width: 32%;
}

.our-works .photos a {
  position: relative;
}

.photos a,
.photos a img,
.photos .link-item {
  width: 100%;
}

.photos .link-item {
  display: none;
  position: absolute;
  top: 0;
  padding: 1.33em;
  background-color: #fb6869;
  opacity: 0.8;
  box-sizing: border-box;
}

.photos .link-item.active {
  display: block;
}

.link-item .link-text {
  box-sizing: border-box;
  padding-top: 1.7em;
  border: 1px solid #fff;
}

.link-text p {
  /*font-size: 1.44em;*/
}

.link-text .link-icon {
  display: inline-block;
  position: relative;
  /*margin: 1em 0;*/
  width: 7em;
  height: 7em;
  border-radius: 50%;
  background-color: #fff;
}

.link-icon i {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  margin-left: -0.46em;
  margin-top: -0.5em;
  color: #000;
}

/* contact-us */
.contact-us {
  color: #dad9d9;
}

.contact-us i,
.contact-us p.title {
  color: #fff;
}

.contact-us p.title span {
  margin-right: 1em;
  color: #fff;
}
.contact-us p.quote {
  font-size: 1.5em;
}
.contact-us span.small {
  font-family: "Arial";
  font-size: 0.6em;
}
.contact-us .contact-us-top{
  height: 8em;
  background-color: #f1f1f1;
}
.contact-us .contact-us-middle{
  padding: 8.5em 0;
  /*text-align: center;*/
  background:url(../img/contact-us/3.jpg) no-repeat;
  background-size:cover;
}
.contact-us-middle .wrap {
  position: relative;
}
.contact-us-middle i.prev,
.contact-us-middle i.next {
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.contact-us-middle i.prev {
  left: 0;
}
.contact-us-middle i.next {
  right: 0;
}
.contact-us-middle .social-accounts {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.social-accounts ul {
  position: absolute;
  left: 0;
}
.social-accounts ul li {
  display: inline-block;
  text-align: center;
}
.social-accounts .social-item{
  
}
.social-item.active {
  
}
.social-item .bg-img {

}
.social-item p.title {
  margin-top: 1em;
  font-family: "Yellowtail";
}
.social-item p.quote {
  margin: 3.8em 0;
}


.contact-us .contact-us-bottom{
  padding: 7em 0;
  text-align: center;
  background-color: #323a45;
}
.contact-us-bottom p.quote {
  margin: 2.9em 0;
}
.contact-us-bottom a {
  padding: 0.7em 1.5em;
  border-radius: 5px;
  background-color: var(--color-red);
  background-color: #ff4b5a;
}
/* footer */
.footer {
  padding: 1em 0;
  background-color: #2a3039;
}
.footer span,
.footer i {
  margin-right: 0.5em;
  color: #9d9da0;
  vertical-align: middle;
}
.footer span.footer-text {
}
.footer i {
  color: #576272;
  vertical-align: middle;
}
@media (min-width: 800px) {
  body {
    font-size: 11px;
  }
  .header .slider-lists {
    height: 294px;
  }
  .pc-page .pc-page-left {
    width: 268px;
    height: 216px;
    background: url(../img/min800/2.png) no-repeat;
  }
  .video-page .video-page-right {
    width: 303px;
    height: 183px;
    background: url(../img/min800/3.png) no-repeat;
  }
  .mobile-page .mobile-page-right {
    width: 195px;
    height: 408px;
    background: url(../img/min800/4.png) no-repeat;
  }
  .link-text .link-icon {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 13px;
  }
  .header .slider-lists {
    height: 376px;
  }
  .pc-page .pc-page-left {
    width: 343px;
    height: 276px;
    background: url(../img/min1024/2.png) no-repeat;
  }
  .video-page .video-page-right {
    width: 389px;
    height: 236px;
    background: url(../img/min1024/3.png) no-repeat;
  }
  .mobile-page .mobile-page-right {
    width: 249px;
    height: 522px;
    background: url(../img/min1024/4.png) no-repeat;
  }
  .link-text .link-icon {
    margin: 1em 0;
  }
}

@media (min-width: 1280px) {
  body {
    font-size: 14px;
  }
  .header .slider-lists {
    height: 470px;
  }
  .pc-page .pc-page-left {
    width: 429px;
    height: 345px;
    background: url(../img/min1280/2.png) no-repeat;
  }
  .video-page .video-page-right {
    width: 487px;
    height: 296px;
    background: url(../img/min1280/3.png) no-repeat;
  }
  .mobile-page .mobile-page-right {
    width: 311px;
    height: 651px;
    background: url(../img/min1280/4.png) no-repeat;
  }
  .link-text .link-icon {
    margin: 2.7em 0;
  }
}

@media (min-width: 1366px) {
  body {
    font-size: 15px;
  }
  .header .slider-lists {
    height: 502px;
  }
  .pc-page .pc-page-left {
    width: 458px;
    height: 369px;
    background: url(../img/min1366/2.png) no-repeat;
  }
  .video-page .video-page-right {
    width: 521px;
    height: 317px;
    background: url(../img/min1366/3.png) no-repeat;
  }
  .mobile-page .mobile-page-right {
    width: 332px;
    height: 696px;
    background: url(../img/min1366/4.png) no-repeat;
  }
}

@media (min-width: 1440px) {
  body {
    font-size: 16px;
  }
  .header .slider-lists {
    height: 530px;
  }
  .pc-page .pc-page-left {
    width: 483px;
    height: 389px;
    background: url(../img/min1440/2.png) no-repeat;
  }
  .video-page .video-page-right {
    width: 550px;
    height: 335px;
    background: url(../img/min1440/3.png) no-repeat;
  }
  .mobile-page .mobile-page-right {
    width: 349px;
    height: 733px;
    background: url(../img/min1440/4.png) no-repeat;
  }
}

@media (min-width: 1680px) {
  body {
    font-size: 17px;
  }
  .header .slider-lists {
    height: 618px;
  }
  .pc-page .pc-page-left {
    width: 563px;
    height: 454px;
    background: url(../img/min1680/2.png) no-repeat;
  }
  .video-page .video-page-right {
    width: 642px;
    height: 392px;
    background: url(../img/min1680/3.png) no-repeat;
  }
  .mobile-page .mobile-page-right {
    width: 407px;
    height: 855px;
    background: url(../img/min1680/4.png) no-repeat;
  }
  .link-text .link-icon {
    margin: 3em 0;
  }
}

@media (min-width: 1920px) {
  body {
    font-size: 18px;
  }
  .header .slider-lists {
    height: 705px;
  }
  .pc-page .pc-page-left {
    width: 643px;
    height: 519px;
    background: url(../img/min1920/2.png) no-repeat;
  }
  .video-page .video-page-right {
    width: 743px;
    height: 449px;
    background: url(../img/min1920/3.png) no-repeat;
  }
  .mobile-page .mobile-page-right {
    width: 465px;
    height: 976px;
    background: url(../img/min1920/4.png) no-repeat;
  }
  .link-text .link-icon {
    margin: 3.8em 0;
  }
}
