* {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
img {
}
#box {
	position: relative;
	width: 500px;
	height: 500px;
	margin: 0 auto;
	overflow: hidden;
}
#box .imgs {
	position: absolute;
	top:0;
	width: 2500px;
	font-size: 0;
}
#box li {
	display: inline-block;
}
#box .btns {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
}
#box .btns li {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #ccc;
}
#box .btns li.current {
	background-color: #000;
}
