html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	font-size: 0.875em;
	font-family: "微软雅黑";
}
#header {
	/*position: absolute;*/
	padding: 5em 0 2em 0;
	/*top: 0;*/
	/*left: 0;*/
	width: 33%;
	/*height: 100%;*/
	background: url(../images/bg1.jpg) no-repeat;
	/*background-color: #ccc;*/
	color: rgba(255,255,255,0.9);
}
#header .headerImg {
	/*margin-top: 5em;*/
	text-align: center;
}

#header .headerImg img{
	max-width: 75px;
	border-radius: 100%;
	box-shadow: 0 0 0 2px rgba(205,170,125,0.5);
}
#header .intro {
	margin-top: 2.5em;
	padding: 0 5em;
}
#header .contact {
	margin-top: 6em;
	padding: 0 5em;
}
#header .contact i {
	display: inline-block;
	width: 32px;
	height: 32px;
}
#header .contact .contact-div {
	margin-top: 1em;
	border-radius: 5px;
}
#header .contact .contact-div:hover {
	background-color: rgba(205,170,125,0.13);
}
#header .contact .gmail i{
	background: url(../images/icon.png) no-repeat;
	background-position: 0px -209px;
}
#header .contact .github {
	max-width: 32px;
}
#header .contact .github a{
	max-width: 32px;
}
#header .contact .github a i{
	background: url(../images/icon.png) no-repeat;
	background-position: -38px -209px;
}
#header .contact .github a i:hover {
	background-position: -79px -209px;
}
#header .contact .wechat {
	position: relative;
}
#header .contact .wechat i{
	background: url(../images/icon.png) no-repeat;
	background-position: -124px -209px;
}
#header .contact .wechat i:hover {
	background-position: -173px -209px;
}
#header .contact .my-wechat {
	position: absolute;
	display: none;
	top: 0;
	left: 50px;
	width:200px;
	height: 200px;
	background: url(../images/icon.png) -5px 0 no-repeat;
	
}
#header .footer {
	margin-top: 10em;
	text-align: center;
}
