* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Helvetica", "Microsoft YaHei";
    font-size: 10px;
    color: #fff;
}

a {
    text-decoration: none;
    display: block;
    color: #fff;
}

input {
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}


/*img {
    display: block;
}*/

.frame {
    height: 100%;
}

.sidebar-left-show body,
.sidebar-left-hide body,
.sidebar-right-show body,
.sidebar-right-hide body, {
    height: 100%;
}

.sidebar-left-show .main {
    /*overflow: hidden;
    height: 100%;*/
    -webkit-transition: -webkit-transform 400ms;
    -webkit-transform: translate3d(80%, 0, 0);
}

.sidebar-left-hide .main {
    /*overflow: hidden;
    height: 100%;*/
    -webkit-transition: -webkit-transform 400ms;
    -webkit-transform: translate3d(0, 0, 0);
}
.sidebar-right-show .main {
    /*overflow: hidden;
    height: 100%;*/
    -webkit-transition: -webkit-transform 400ms;
    -webkit-transform: translate3d(-80%, 0, 0);
}

.sidebar-right-hide .main {
    /*overflow: hidden;
    height: 100%;*/
    -webkit-transition: -webkit-transform 400ms;
    -webkit-transform: translate3d(0, 0, 0);
}


/* 搜索栏 */

.search {
    display: flex;
    display: -webkit-flex;
    padding: 1rem;
}

.search .search-input {
    display: block;
    flex: 5;
    -webkit-flex: 5;
    width: 19.4rem;
    height: 3rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 2.5rem;
    background: rgba(255, 255, 255, 0.23);
    color: #fff;
}

.search .search-input::-webkit-input-placeholder {
    color: #fff;
}

.search .search-btn {
    display: block;
    flex: 1;
    -webkit-flex: 1;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgba(255, 255, 255, 0.23);
}


/* 天气界面*/

.weather {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 80%;
    height: 100%;
    background-color: #21b5fb;
}


/* 上半部分 */

.weather .weather-top {
    background: url(../img/top-bg.jpg) no-repeat;
    background-size: cover;
}

.weather .weather-top .weather-now {
    padding-top: 1rem;
    padding-bottom: 2.6rem;
    text-align: center;
}

.weather .weather-top .weather-now h2,
h1 {
    margin-top: 0.9rem;
    font-size: 2.5rem;
    font-weight: normal;
}

.weather .weather-top .weather-now h1 {
    font-size: 3rem;
}


/* 下半部分 */

/* ul */

.weather-bottom .weather-daily .today {
    background-color: #0693fc;
}

.weather-bottom .weather-daily .tomorrow {
    background-color: #109afc;
}

.weather-bottom .weather-daily .day-after-tomorrow {
    background-color: #1aa6fd;
}

/* li */

.weather-bottom .weather-daily .weather-daily-item {
    display: flex;
    display: -webkit-flex;
    padding: 0.6rem 0.7rem 0.6rem 1.7rem;
}

.weather-daily .weather-daily-item .daily-item-left {
    flex: 3;
    -webkit-: 3;
    line-height: 30px;
}

.weather-daily-item .daily-item-left h3 {
    font-size: 2rem;
    color: #c9e9ff;
}

.weather-daily-item .daily-item-left span {
    font-size: 1.3rem;
    color: #77c0fc;
}

.weather-daily .weather-daily-item .daily-item-right {
    display: flex;
    display: -webkit-flex;
    flex: 4;
    -webkit-flex: 4;
}

.weather-daily-item .daily-item-right .daily-item-text {
    flex: 1;
    -webkit-flex: 1;
    text-align: center;
    font-size: 1.4rem;
    line-height: 30px;
    color: #77c0fc;
}

.daily-item-right .daily-item-text h3 {
    font-size: 1.3rem;
    color: #fff;
}

.daily-item-right .daily-item-text .daily-date {
    font-size: 1.3rem;
    color: #77c0fc;
}

@media only screen and (min-width: 360px) {
    .daily-item-right .daily-item-text h3 {
        font-size: 1.8rem;
        color: #fff;
    }
    .daily-item-right .daily-item-text .daily-date {
        font-size: 1.4rem;
        color: #77c0fc;
    }
}


/* 电影区*/

.main {
    position: relative;
    background-color: #356479;
    z-index: 2;
    height: 100%;
    overflow: hidden;
}


/* 顶部按钮*/

.main .main-top {
    display: flex;
    display: -webkit-flex;
}

.main .main-top .see-weather,
.main .main-top .see-topMovie{
    font-size: 1.2rem;
    flex: 1;
    -webkit-flex: 1;
    padding: 1rem;
    background-color: rgba(19, 49, 75, 0.23);
    text-align: center;
    margin-right: 10rem;
    border-radius: 10px;
}

.main .main-top .see-topMovie {
    margin-right: 0;
}


/* 下方电影内容区*/


/* 搜索区 */

.main .main-bottom .search-area {
    position: relative;
}


/*搜索结果 */

.main-bottom .search-area .main-search-result {
    display: none;
    position: fixed;
    width: 100%;
    background-color: #54c3c7;
    padding: 1.5rem 0.5rem;
    border-radius: 0.5rem;
    z-index: 1;
}

.main-search-result .main-result-desc a {
    display: inline-block;
    margin-right: 3rem;
}


/*正在热映 电影*/

.main-bottom .soon-movie {
    z-index: 2;
}

.soon-movie h1,
.top-movie h1 {
    font-size: 1.5rem;
    flex: 1;
    -webkit-flex: 1;
    padding: 1rem;
    background-color: rgba(19, 49, 75, 0.23);
    text-align: center;
    margin-top: 0;
    border-radius: 10px;
}
ul.show-movie {
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
ul.show-movie::-webkit-scrollbar{
  display: none
}
ul.show-movie  li{
    display: flex;
    display: -webkit-flex;
    padding: 1rem 0;
}

ul.show-movie li div:nth-child(1){
    flex: 5;
    -webkit-flex: 5;
    padding-left: 2rem;
    font-size: 1.3rem;
}

ul.show-movie li div:nth-child(1) h2{
    font-size: 1.5rem;
    color: #380d0d;
    margin-top: 0;
}

ul.show-movie li div:nth-child(1) p{
    color: #000;
}

ul.show-movie li div:nth-child(1) p span {
    color: #980707;
}

ul.show-movie li div:nth-child(1) a{
    display: inline-block;
    width: 7rem;
    height: 3rem;
    line-height: 3rem;
    margin-top: 1rem;
    margin-right: 1rem;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 0.3rem;
}

ul.show-movie li div:nth-child(2){
    flex: 2;
    -webkit-flex: 2;
}
.loadText {
    text-align: center;
    background-color: #ccc;
    color: #998;
    line-height: 2rem;
}
/*top电影*/
.top-movie {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 80%;
    height: 100%;
    background-color: #0c7fb3;
}
.top-movie .top-movie-initload {
    font-size: 1.3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
}
.github-code {
    position: absolute;
    bottom: 0;
    left: 36%;
}
.github-code a {
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: rgba(19, 49, 75, 0.23);
}